<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Post</title>

        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

        <link rel="stylesheet" type="text/css" href="css/post.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
    </head>

    <body>

        <div id="container">

            <header>

                <div class="navbar">
                    <ul>
                        <li><a href="#" class="a_parent">
                            <div class="wrap">
                                <span class="text">Home</span>
                            </div>
                        </a></li>
                        <li><a href="#" class="a_parent">
                            <div class="wrap">
                                <span class="text">Categories</span>
                            </div>
                            </a>
                            <div class="dd_menu">
                                <ul>
                                    <li>
                                        <a href="#" class="dd_menu_a">
                                            <div class="wrap">
                                                <span class="text">
                                                    Reviews
                                                </span>
                                            </div>
                                        </a>
                                        <div class="dd_submenu">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <div class="wrap">
                                                            <span class="text">
                                                                Laptops
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="wrap">
                                                            <span class="text">
                                                                Hardware
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="wrap">
                                                            <span class="text">Databases</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#"  class="dd_menu_a">
                                            <div class="wrap">
                                                <span class="text">
                                                    Coding
                                                </span>
                                            </div>
                                        </a>
                                        <div class="dd_submenu">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <div class="wrap">
                                                            <span class="text">
                                                                Back-End
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="wrap">
                                                            <span class="text">
                                                                Front-End
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="wrap">
                                                            <span class="text">Databases</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#"  class="dd_menu_a">
                                            <div class="wrap">
                                                <span class="text">3D modeling</span>
                                            </div>
                                        </a>

                                        <div class="dd_submenu">
                                            <ul>
                                                <li>
                                                    <a href="#">
                                                        <div class="wrap">
                                                            <span class="text">
                                                                Animation
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="wrap">
                                                            <span class="text">
                                                                Modeling
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <div class="wrap">
                                                            <span class="text">
                                                                Texturization
                                                            </span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#" class="a_parent">
                            <div class="wrap">
                                <span class="text">About</span>
                            </div>
                            </a>
                        </li>
                        <li><a href="#" class="a_parent">
                            <div class="wrap">
                                <span class="text">Contact</span>
                            </div>
                        </a></li>
                        </ul>
                </div>

            </header>

            <div id="title"><a id="title-color" href="index.htm">CODE'N<br>COFFEE</a><span><br><br>DEVELOPERS FUELED BY COFFEE</span></div>

            <article>

                <div class="post">

                    <div class="post-top">

                        <div class="post-about">

                            <h1 class="post-title"><a href="#">First post title for test</a></h1>

                            <p class="post-description">A small description of the post, like the theme or category</p>

                        </div>

                        <div class="post-info">

                            <div class="post-date">

                                <p>October 25, 2021</p>

                            </div>

                            <div class="post-author">

                                <a href="#">

                                    <img src="images/pic08.jpg" alt="">

                                    <p>Aline Ferreira</p>
                                
                                </a>

                            </div>

                        </div>

                    </div>

                    <div class="post-image">

                        <a href="#"><img src="images/pic03.jpg" alt=""></a>

                    </div>

                    <div class="post-excert">

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>                      

                    </div>

                </div> <!--End of post-->

            </article>


            <nav>
                
                <div class="mini-post">

                    <a href="#"><img class="mini-post-image" src="images/pic04.jpg" alt=""></a>

                    <div class="mini-post-info">

                        <a href="#" class="mini-post-title">Um titulo relativamente grande para teste abcde</a>

                        <p>August 28, 2021</p>

                    </div>

                    <a href="#"><img class="mini-post-author" src="images/pic11.jpg" alt=""></a>

                </div> <!--End of mini-post-->
              
                <div class="mini-post">

                    <a href="#"><img class="mini-post-image" src="images/pic06.jpg" alt=""></a>

                    <div class="mini-post-info">

                        <a href="#" class="mini-post-title">Third Title</a>

                        <p>March 19, 2021</p>

                    </div>

                    <a href="#"><img class="mini-post-author" src="images/pic12.jpg" alt=""></a>

                </div> <!--End of mini-post-->
                
                <div class="mini-post">

                    <a href="#"><img class="mini-post-image" src="images/pic06.jpg" alt=""></a>

                    <div class="mini-post-info">

                        <a href="#" class="mini-post-title">Third Title</a>

                        <p>March 19, 2021</p>

                    </div>

                    <a href="#"><img class="mini-post-author" src="images/pic12.jpg" alt=""></a>

                </div> <!--End of mini-post-->
                
                <div class="mini-post">

                    <a href="#"><img class="mini-post-image" src="images/pic04.jpg" alt=""></a>

                    <div class="mini-post-info">

                        <a href="#" class="mini-post-title">Um titulo relativamente grande para teste abcde</a>

                        <p>August 28, 2021</p>

                    </div>

                    <a href="#"><img class="mini-post-author" src="images/pic11.jpg" alt=""></a>

                </div> <!--End of mini-post-->
   
                <div class="mini-post">

                    <a href="#"><img class="mini-post-image" src="images/pic05.jpg" alt=""></a>

                    <div class="mini-post-info">

                        <a href="#" class="mini-post-title">Second Title</a>

                        <p>December 13, 2020</p>

                    </div>

                    <a href="#"><img class="mini-post-author" src="images/pic10.jpg" alt=""></a>

                </div> <!--End of mini-post-->
                
                <div class="mini-post">

                    <a href="#"><img class="mini-post-image" src="images/pic06.jpg" alt=""></a>

                    <div class="mini-post-info">

                        <a href="#" class="mini-post-title">Third Title</a>

                        <p>March 19, 2021</p>

                    </div>

                    <a href="#"><img class="mini-post-author" src="images/pic12.jpg" alt=""></a>

                </div> <!--End of mini-post-->
                                                 
                <div class="mini-post">

                    <a href="#"><img class="mini-post-image" src="images/pic05.jpg" alt=""></a>

                    <div class="mini-post-info">

                        <a href="#" class="mini-post-title">Second Title</a>

                        <p>December 13, 2020</p>

                    </div>

                    <a href="#"><img class="mini-post-author" src="images/pic10.jpg" alt=""></a>

                </div> <!--End of mini-post-->
  
                <div class="mini-post">

                    <a href="#"><img class="mini-post-image" src="images/pic06.jpg" alt=""></a>

                    <div class="mini-post-info">

                        <a href="#" class="mini-post-title">Third Title</a>

                        <p>March 19, 2021</p>

                    </div>

                    <a href="#"><img class="mini-post-author" src="images/pic12.jpg" alt=""></a>

                </div> <!--End of mini-post-->

            </nav>

            <div class="comments">

                <h2>Leave a comment:</h2>

                <form method="POST" action="#send_comment">
                    {% csrf_token %}
                    <table class="table-comments">
                        {{ form }}
                        <tr>

                            <td colspan="2">

                                {% if messages %}
                                    <br>
                                    {% for message in messages %}
                                        <div class="alert {{ message.tags }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <input id="envia_comentario" type="submit" class="btn btn-primary" value="Send">

                            </td>

                        </tr>

                    </table>

                </form>
                
            </div>

            <footer>

                <h1>About Us</h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    <br><br><br><br>
                    All rights reserved.
                </p>

                <div class="footer-icons">

                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-discord"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>

                </div>

            </footer>

        </div>

        <script src="js/scripts.js"></script>
        
    </body>

</html>